## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "coinNameExchangeName": $util.dynamodb.toDynamoDB($ctx.args.coinNameExchangeName)
}))
## [End] Set the primary key. **
{}